@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(122, 0, 0);
}

/* main */

.row {
    gap: 10px;
    overflow: hidden;
}

.main-content {
    background-image: linear-gradient(#000000c7,#00000054), url('img/cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-content .card {
    color:rgb(223, 223, 223);
    background-color: rgba(0, 0, 0, 0.5)
}

#resultado {
    display: none;
}

#calculo {
    border-radius: 5px;
    padding: 20px;
    max-width: 80%; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho del contenedor */
}

#textoResultado{
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    max-width: 100%; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    box-sizing: border-box;
}

/* footer */
.footer {
    background-color: #1c1e20;
    color: #a0a0a0;
    margin: 0;

    transition: .4s all ease;
}

.footer ul {
    list-style: none;
    font-size: 1.2rem;
}

.footer a {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

.cartascroll
{
    height: 300px;
    overflow-y: scroll; /* Esto agrega una barra de desplazamiento vertical cuando el contenido es más alto que la altura del contenedor */
    border: 1px solid #ccc;
    padding: 10px;
}